Session-9/Технологии проектирования информационно-вычислительных систем/Бабич А.В.-Введение в UML.pdf
Session-9/Технологии проектирования информационно-вычислительных систем/Основы языка UML.pdf
Session-9/Технологии проектирования информационно-вычислительных систем/Arlou_i_Neyshtadt_UML_i_UP.pdf
Session-9/Технологии проектирования информационно-вычислительных систем/Галиаскаров Э.Г., Воробьев А.С. - Анализ и проектирование систем с использованием UML (Высшее образование) - 2024.pdf
